    window-rule {
        geometry-corner-radius 0 // Set every window radius to 20
        clip-to-geometry true
    }

     // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

    window-rule {
      // This app-id regular expression will work for both:
      // - host Firefox (app-id is "firefox")
      // - Flatpak Firefox (app-id is "org.mozilla.firefox")
      match app-id=r#"firefox$"# title="^Picture-in-Picture$"

      open-floating true
    }

    window-rule {
      match app-id=r#"^org\.keepassxc\.KeePassXC$"#
      match app-id=r#"^org\.gnome\.World\.Secrets$"#
      match app-id="Bitwarden"

      block-out-from "screen-capture"

      // Use this instead if you want them visible on third-party screenshot tools.
      // block-out-from "screencast"
  }
  
  window-rule {
    match app-id="localsend"
    match app-id=r#".*Authenticator$"#
    match app-id="keepassxc" title="Open database"
    match app-id="org.gnome.Calculator"
    match app-id="org.cachyos.hello"

    open-floating true
    default-column-width { proportion 0.3; }
    default-window-height { proportion 0.7; }
  }
