# Dirs
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos

# Home
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.dialogrc
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0
.lesshst
.local/bin/lvim
.local/include
.local/lib
.local/share
.local/state
.mozilla/
.node_modules/
.npm-global/
.npm/
.npmrc
.package-lock.json
.package.json
.pki/
.python_history
.ssh/
.vscode-oss/
.wget-hsts
.zcompdump
.zhistory

# Config
.config/alsi
.config/chromium
.config/Code - OSS
.config/dconf
.config/discord
.config/Electron
.config/geany
.config/goa-1.0
.config/gtk-3.0
.config/keepassxc
.config/Kvantum
.config/light
.config/lvim
.config/menus
.config/mpv
.config/nwg-look
.config/obsidian
.config/pulse
.config/qalculate
.config/xarchiver
.config/xfce4
.config/xsettingsd
.config/mimeapps.list
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale
