# Dirs
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos

# Home
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.dialogrc
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0
.lesshst
.local/bin/lvim
.local/bin/flask
.local/bin/normalizer
.local/bin/pipenv
.local/bin/pipenv-resolver
.local/bin/virtualenv
.local/bin/virtualenv-clone
.local/include
.local/lib
.local/share
.local/state
.mozilla/
.node_modules/
.npm-global/
.npm/
.npmrc
.oh-my-zsh/
.package-lock.json
.package.json
.pki/
.python_history
.ssh/
.vscode-oss/
.vmware/
.wget-hsts
.zcompdump
.zcompdump-XPS9370-5.9
.zcompdump-XPS9370-5.9.zwc
.zhistory

# Config
.config/alsi
.config/chromium
.config/Code - OSS
.config/calibre
.config/dconf
.config/deezer-desktop
.config/discord
.config/Electron
.config/Insomnia
.config/geany
.config/goa-1.0
.config/gtk-3.0
.config/keepassxc
.config/Kvantum
.config/light
.config/libreoffice
.config/lvim
.config/menus
.config/mpv
.config/nwg-look
.config/obsidian
.config/pulse
.config/qalculate
.config/rncbc.org
.config/xarchiver
.config/xfce4
.config/xsettingsd
.config/mimeapps.list
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/Thunar/accels.scm
.config/viewnior
.config/vlc
